<ion-view class="background forgot" title="Calendar Details">

  <ion-nav-bar class="bar-positive header_top_bar contact">

    <ion-nav-back-button  ng-click="myGoBack()">
      <img class="back_icn" src="img/back_btn.png">
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <div class="box address_icon">
      <span class="line"></span>

      <h2>Event Name  : {{Title}}</h2>
      <h3>Start Date   : {{StartDate}}</h3>
      <h4>Discription   : {{Discription}}</h4>
<!--      <div class="row padding">
        <div class="image_treatment col col-100" >
          <img src="{{image}}">
        </div>
      </div>-->





    </div>



  </ion-content>
</ion-view>

